<!--
* Created by Shobhit Dixit.
* User: STG
* Date: 27/10/14
* Time: 02:35 AM
-->

<div class="row" style="margin-left: 0">
    <div class="left-panel"  style="padding: 0;" ng-controller="MenuEditCtrl">
        <a href="" style="border-radius: 0"
           class="list-group-item active" ng-click="addNewCuisineRedirect()">
            Add New Cuisine
        </a>
        <navigationtab > </navigationtab>
    </div>

    <div class="right-panel">
        <div class="" ui-view></div>
    </div>

</div>
