<!--
* Created by Shobhit Dixit.
* User: STG
* Date: 21/9/14
* Time: 11:40 AM
-->

<div class="container-fluid">
    <div class="page-header">
        <span class="custom-heading">New Restaurant</span>
    </div>
    <form name="restaurantForm">
        <div class="row">
            <div class="col-md-4">
                <label>Name:</label>
                <input type="text" class="form-control" name="Name" placeholder="Enter Name"/>
            </div>

            <div class="col-md-4">
                <label>Address 1:</label>
                <input type="text" class="form-control" name="Address1" placeholder="Start Typing"/>
            </div>

            <div class="col-md-4">
                <label>Address 2:</label>
                <input type="text" class="form-control" name="Address2" placeholder="Start Typing"/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-4">
                <label>City:</label>
                <input type="text" class="form-control" name="City" placeholder="Start Typing"/>
            </div>

            <div class="col-md-4">
                <label>State:</label>
                <input type="text" class="form-control" name="State" placeholder="Start Typing"/>
            </div>

            <div class="col-md-4">
                <label>Pincode:</label>
                <input type="text" class="form-control" name="Pincode" placeholder="Start Typing"/>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-4">
                <label>Tele-Phone 1:</label>
                <input type="tel" class="form-control" name="PhoneNum1" placeholder="Enter Phone Number"/>
            </div>

            <div class="col-md-4">
                <label>Tele-Phone 2:</label>
                <input type="tel" class="form-control" name="PhoneNum2" placeholder="Enter Phone Number"/>
            </div>

            <div class="col-md-4">
                <label>Mobile:</label>
                <input type="tel" class="form-control" name="Mobile" placeholder="Enter Mobile Number"/>
            </div>
        </div>

        <br/>


    </form>
</div>